$accent-color: #ff6b09;
$main-color: #111518;
$grey-color: #b9b9b9;
$white-color: #ffffff;

$cubic-bezier: 250ms cubic-bezier(0.4, 0, 0.2, 1);

// $ls-main-text: 0.08em;
// $ls-teacher-experience: 0.06em;
// $ls-head: 0.03em;
