$accent-color: #ff6b09;
$main-color: #111518;
$grey-color: #b9b9b9;
$white-color: #ffffff;
$we-guarantee-color: #3d3d3d;
$we-guarantee-bg-color: #f1f1f1;
$advantages-bg-color: #e5e5e5;

$cubic-bezier: 250ms cubic-bezier(0.4, 0, 0.2, 1);

$ls-main-text: 0.08em;
$ls-teacher-experience: 0.06em;
$ls-head: 0.03em;
$ls-logo: 0.04em;
$ls-under-logo: 0.18em;
$ls-btn-desktop: 0.14em;
