<section class="about" id="about">
  <div class="about__container">
    <h2 class="about__heading">Teacher</h2>
    <div class="about__wrapper">
      <div class="about__box-img">
        <picture class="picture">
          <source
            srcset="
              ./images/about/about-elena-moreva-desktop.webp    1x,
              ./images/about/about-elena-moreva-desktop@2x.webp 2x
            "
            media="(min-width: 1366px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/about/about-elena-moreva-desktop.jpg    1x,
              ./images/about/about-elena-moreva-desktop@2x.jpg 2x
            "
            media="(min-width: 1366px)"
          />
          <source
            srcset="
              ./images/about/about-elena-moreva-mobile-tablet.webp    1x,
              ./images/about/about-elena-moreva-mobile-tablet@2x.webp 2x
            "
            media="(max-width: 1365px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/about/about-elena-moreva-mobile-tablet.jpg    1x,
              ./images/about/about-elena-moreva-mobile-tablet@2x.jpg 2x
            "
            media="(max-width: 1365px)"
          />
          <img class="about__img-moreva" src="#" alt="Elena Moreva" />
        </picture>
      </div>
      <div class="about__box-info">
        <h3 class="about__sub-heading">Elena Moreva</h3>

        <ul class="about__merit-list list">
          <li class="about__merit-item">
            <p>6 yeards of experience in preparing students for UPE</p>
          </li>
          <li class="about__merit-item">
            <p>Own result of passing VNO - 197 points 2 years in a row</p>
          </li>
          <li class="about__merit-item">
            <p>
              Passed excellent at the international analogue of UPE - Cambridge PET (Preliminary
              English Test)
            </p>
          </li>
        </ul>

        <div class="about__resume">
          <p class="about__resume-paragraph">
            Graduated from the Institute of International Relations of the NAU with a degree in
            translator-analyst.
          </p>
          <p class="about__resume-paragraph">
            In spare time takes courses from the best universities in the world on effective
            teaching and essay writing techniques.
          </p>
          <p class="about__resume-paragraph">
            Completed: English Grammar and Essay Writing (Berkeley), English Grammar & Style (The
            University of Queesland), How to Write an Essay (Berkeley), Academic and Business
            Writing (Berkeley), The Art of Teaching (GEMS education), Powerful Tools for Teaching
            and Learning (University of Houston).
          </p>
        </div>

        <a class="about__link" href="http://" target="_blank" rel="noopener noreferrer"
          >Cambrige English Entry Level Certificate</a
        >
      </div>
    </div>
  </div>
</section>
