<<!--<section class="about">
  <div class="container">
    <h2>Teacher</h2>
    <div class="about__box-img">
      <img src="./images/about/about-elena-moreva-mobile-tablet.jpg" alt="Elena Moreva" />
    </div>
    <div class="about__box-info">
      <h3>Elena Moreva</h3>
      <ul class="about__merit-list">
        <li class="about__merit-item">
          <p>6 yeards of experience in preparing students for UPE</p>
        </li>
        <li class="about__merit-item">
          <p>Own result of passing VNO - 197 points 2 years in a row</p>
        </li>
        <li class="about__merit-item">
          <p>
            Passed excellent at the international analogue of UPE - Cambridge PET (Preliminary
            English Test)
          </p>
        </li>
      </ul>
      <div class="about__resume">
        <p>
          Graduated from the Institute of International Relations of the NAU with a degree in
          translator-analyst.
        </p>
        <p>
          In spare time takes courses from the best universities in the world on effective teaching
          and essay writing techniques.
        </p>
        <p>
          Completed: English Grammar and Essay Writing (Berkeley), English Grammar & Style (The
          University of Queesland), How to Write an Essay (Berkeley), Academic and Business Writing
          (Berkeley), The Art of Teaching (GEMS education), Powerful Tools for Teaching and Learning
          (University of Houston).
        </p>
      </div>

      <a class="" href="http://" target="_blank" rel="noopener noreferrer"
        >Cambrige English Entry Level Certificate</a
      >
    </div>
  </div>
</section>
