<!-- FOOTER -->
<footer class="footer">
  <div class="container">
    <a class="footer__logo link" href="./index.html">
      <img class="footer__logo-img" src="images/logo.png" alt="logo hellish english" />
    </a>
    <a class="footer__tel link" href="tel:+380000000000">
      <svg class="footer__tel-icon">
        <use href="./images/icons/sprite.svg#tell-icon"></use>
      </svg>
      +38 (000) 000 00 00
    </a>
    <a class="footer__social-network" href="" target="_blank" rel="noreferrer noopener">
      <img class="footer__social-icon" src="images/instagram-icon.png" alt="instagram" />
    </a>
    <p class="footer__literary-property">&#64; All rights reserved, 2019</p>
  </div>
</footer>
