<!-- FOOTER -->
<footer class="footer">
  <div class="footer__container">
    <div class="footer__contact">
    <a class="footer__logo link" href="./index.html">
      <picture>
        <source
          srcset="./images/logo/logo-desktop.webp 1x, ./images/logo/logo-desktop2x.webp 2x"
          media="(min-width: 1366px)"
          type="image/webp"
        />
        <source
          srcset="./images/logo/logo-desktop.png 1x, ./images/logo/logo-desktop2x.png 2x"
          media="(min-width: 1366px)"
        />
        <source
          srcset="./images/logo/logo-tablet.webp 1x, ./images/logo/logo-tablet2x.webp 2x"
          media="(min-width: 768px)"
          type="image/webp"
        />
        <source
          srcset="./images/logo/logo-tablet.png 1x, ./images/logo/logo-tablet2x.png 2x"
          media="(min-width: 768px)"
        />
        <source
          srcset="./images/logo/logo-mob.webp 1x, ./images/logo/logo-mob2x.webp 2x"
          media="(max-width: 767px)"
          type="image/webp"
        />
        <source
          srcset="./images/logo/logo-mob.png 1x, ./images/logo/logo-mob2x.png 2x"
          media="(max-width: 767px)"
        />
        <img class="footer__logo-img" src="./images/logo/logo-mob.png" alt="Logo Hellish English" />
      </picture>
    </a>

    <ul class="footer__contact-list list">
      <li class="footer__contact-item">
        <a class="footer__tel link liner" href="tel:+380000000000">
          <svg class="footer__tel-icon">
            <use class="tel-icon" href="./images/icons/sprite.svg#tell-icon"></use>
          </svg>
          +38 (000) 000 00 00
        </a>
      </li>
      <li class="footer__contact-item">
        <a class="footer__social-network" href="https://www.instagram.com/" target="_blank" rel="noreferrer noopener">
          <picture>
            <source
              srcset="
                ./images/instagram-icon/instagram-icon-desktop.png    1x,
                ./images/instagram-icon/instagram-icon-desktop@2x.png 2x
              "
              media="(min-width: 1366px)"
            />
            <source
              srcset="
                ./images/instagram-icon/instagram-icon-tablet.png    1x,
                ./images/instagram-icon/instagram-icon-tablet@2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/instagram-icon/instagram-icon-mobile.png    1x,
                ./images/instagram-icon/instagram-icon-mobile@2x.png 2x
              "
              media="(max-width: 767px)"
            />
            <img
              class="footer__instagram-img"
              src="./images/instagram-icon/instagram-icon-mobile.png"
              alt="instagram"
            />
          </picture>
        </a>
      </li>
    </ul>
    </div>
    <div class="footer__copyright">
      <p class="footer__literary-property">&#64; All rights reserved, 2019</p>
    </div>
  </div>
</footer>
