<section class="guarantee">
  <div class="guarantee__container">
    <h2 class="guarantee__heading section-heading">We guarantee</h2>
    <div class="guarantee__wrapper">
      <ul class="guarantee__list list">
        <li class="guarantee__item">
          You will pass the UPE with at least 25 points better than on the first practice test.
          Otherwise, we will refund your money.<span class="guarantee__accent">*</span>
        </li>
        <li class="guarantee__item">
          You will learn to write essays with at least 10 points out of 14.
          <span class="guarantee__accent">While 20% of the students received 0 for essays.</span>
        </li>
        <li class="guarantee__item">
          You will study in your area. We will choose the location for the classes after the teams
          have been formed.
        </li>
        <li class="guarantee__item">
          Teams will be formed based on the starting level of the students. We take into account the
          characteristics of each student.
        </li>
      </ul>
    </div>
  </div>
</section>
