<section class="hero section hero-section">
  <div class="container hero__container">
    <div class="hero__left-container">
      <h1 class="section__heading">Complex preparation for English UPE</h1>
      <p class="hero__description-text-top">It won't be easy</p>
      <p class="hero__description-text-bottom">
        But you guaranteed to get <span class="hero__quantity-points">+25 points</span>
      </p>

      <button type="button" class="btn btn-free-lesson">
        I want free lesson
        <a href="#contacts"></a>
      </button>
    </div>
    <div class="hero__right-container">
      <picture>
        <source
          srcset="./images/hero/lesson-desktop.webp 1x, ./images/hero/lesson-desktop2x.webp 2x"
          media="(min-width: 1366px)"
          type="image/webp"
        />
        <source
          srcset="./images/hero/lesson-desktop.png 1x, ./images/hero/lesson-desktop2x.png 2x"
          media="(min-width: 1366px)"
        />
        <source
          srcset="./images/hero/lesson-tablet.webp 1x, ./images/hero/lesson-tablet2x.webp 2x"
          media="(min-width: 768px)"
          type="image/webp"
        />
        <source
          srcset="./images/hero/lesson-tablet.png 1x, ./images/hero/lesson-tablet2x.png 2x"
          media="(min-width: 768px)"
        />
        <source
          srcset="./images/hero/lesson-mobile.webp 1x, ./images/hero/lesson-mobile2x.webp 2x"
          media="(max-width: 767px)"
          type="image/webp"
        />
        <source
          srcset="./images/hero/lesson-mobile.png 1x, ./images/hero/lesson-mobile2x.png 2x"
          media="(max-width: 767px)"
        />
        <img class="hero__img" src="#" alt="English lesson" />
      </picture>
    </div>
  </div>
</section>
