<section class="hero section hero-section">
  <div class="container hero-container">
    <div class="hero__left-container">
      <h1 class="section__title">Complex preparation for English UPE</h1>
      <p class="hero__description-text-top">It won't be easy</p>
      <p class="hero__description-text-bottom">
        But you guaranteed to get <span class="hero__quantity-points">+25 points</span>
      </p>
      <div class="btn-container btn-container-free-lesson">
        <button type="button" class="btn btn-free-lesson">
          I want free lesson
          <a href="#contacts"></a>
        </button>
      </div>
    </div>
    <div class="hero__right-container">
      <picture class="hero__picture">
        <source
          class="hero__lesson-img"
          srcset="./images/hero/lesson-desktop.webp, ./images/hero/lesson-desktop2x.webp 2x"
          media="(min-width: 1366px)"
          type="image/webp"
        />
        <source
          class="hero__lesson-img"
          srcset="./images/hero/lesson-desktop.png, ./images/hero/lesson-desktop2x.png 2x"
          media="(min-width: 1366px)"
        />

        <source
          class="hero__lesson-img"
          srcset="./images/hero/lesson-tablet.webp, ./images/hero/lesson-tablet2x.webp 2x"
          media="(min-width: 768px)"
          type="image/webp"
        />
        <source
          class="hero__lesson-img"
          srcset="./images/hero/lesson-tablet.png, ./images/hero/lesson-tablet2x.png 2x"
          media="(min-width: 768px)"
        />

        <source
          class="hero__lesson-img"
          srcset="./images/hero/lesson-mobile.webp, ./images/hero/lesson-mobile2x.webp 2x"
          media="(max-width: 479px)"
          type="image/webp"
        />
        <source
          class="hero__lesson-img"
          srcset="./images/hero/lesson-mobile.png, ./images/hero/lesson-mobile2x.png 2x"
          media="(max-width: 479px)"
        />

        <img class="hero__lesson-img" src="#" alt="Проводится урок английского языка" />
      </picture>
    </div>
  </div>
</section>
