<section class="how-do" id="how-do">
    <div class="how-do__container">
        <h2 class="how-do__title">How do we do it</h2>
        <ul class="how-do__list list">
            <li class="how-do__list-item">
                <div class="how-do__picture">
                    <svg class="how-do__icon">
                        <use href="/images/icons/sprite.svg#program-icon"></use>
                    </svg>
                </div>
                <h3 class="how-do__subtitle">Adapted program <br>preparation for UPE</h3>
                <p class="how-do__descriptions">You will learn grammar and vocabulary at the same time. And you will learn how to write essays.</p>
            </li>
            <li class="how-do__list-item">
                <div class="how-do__picture">
                    <svg class="how-do__icon">
                        <use href="/images/icons/sprite.svg#mobile-learn-icon"></use>
                    </svg>
                </div>
                <h3 class="how-do__subtitle">Classroom and online <br>learning</h3>
                <p class="how-do__descriptions">The teacher will help not only in the classroom, but also during home preparation. <br>Parents can chat if they wish.</p>
            </li>
            <li class="how-do__list-item second-branch">
                <div class="how-do__picture">
                    <svg class="how-do__icon">
                        <use href="/images/icons/sprite.svg#book-icon"></use>
                    </svg>
                </div>
                <h3 class="how-do__subtitle branch">The habit of reading in English</h3>
                <p class="how-do__descriptions second-description">Articles from sources that are used in the development of this UPE will be received by phone twice a week.</p>
            </li>
            <li class="how-do__list-item second-branch">
                <div class="how-do__picture">
                    <svg class="how-do__icon">
                        <use href="/images/icons/sprite.svg#community-icon"></use>
                    </svg>
                </div>
                <h3 class="how-do__subtitle">Psychological <br>support</h3>
                <p class="how-do__descriptions">We will teach you testing techniques, the ability to plan your confidence training in itself.</p>
            </li>
            <li class="how-do__list-item">
                <div class="how-do__picture">
                    <svg class="how-do__icon">
                        <use href="/images/icons/sprite.svg#student-icon"></use>
                    </svg>
                </div>
                <h3 class="how-do__subtitle branch">Training on copyright manuals</h3>
                <p class="how-do__descriptions second-description">You don't have to waste your time on a search for material and to buy anything extra. We have compiled 2 manuals for you.</p>
            </li>
            <li class="how-do__list-item">
                <div class="how-do__picture">
                    <svg class="how-do__icon">
                        <use href="/images/icons/sprite.svg#audio-book-icon"></use>
                    </svg>
                </div>
                <h3 class="how-do__subtitle">Ability to comprehend spoken English</h3>
                <p class="how-do__descriptions">“F.R.I.E.N.D.S” won't help you. You will listen regularly and analyze audio recordings in accordance with the studied vocabulary.</p>
            </li>
        </ul>
    </div>
</section>
