<section class="problems section-problems-background">
    <div class="problems__container">
        <h2 class="problems__title">
            The main problems of students <br>in English UPE, which</br>
            we <span class="problems__title-accent">help</span> to solve
        </h2>
        <div class="problems__wrapper">
            <ul class="problems__list list">
                <li class="problems__list-item">
                    <p class="problems__list-description">
                        Grammar
                    </p>                            
                </li>
                <li class="problems__list-item">
                    <p class="problems__list-description">
                        Inability to understand spoken English
                    </p>
                </li>
                <li class="problems__list-item">
                    <p class="problems__list-description">
                        Stingy vocabulary for writing an essay
                    </p>
                </li>
                <li class="problems__list-item">
                    <p class="problems__list-description">
                        Preparing alone
                    </p>
                </li>
                <li class="problems__list-item">
                    <p class="problems__list-description">
                        Lack of a single knowledge resource
                    </p>
                </li>
                <li class="problems__list-item">
                    <p class="problems__list-description">
                        Lack of self-organization and laziness
                    </p>
                </li>
            </ul>
        </div>
    </div>
</section>
