<!--<section class="problems-section">
    <div class="background-wrapper">
        <div class="problems__container">
            <h2 class="problems__title">
                The main problems of students in English UPE, which we
                <span class="problems__title-accent">help</span> to solve
            </h2>
            <div class="problems__wrapper-list">
                <div class="problems__wrapper">
                    <ul class="problems__list list">
                        <li class="problems__list-item">
                            <span class="problems__list-item-number">
                                — 01
                            </span>
                            <p>
                                Grammar
                            </p>                            
                        </li>
                        <li class="problems__list-item">
                            <span class="problems__list-item-number">
                                — 02
                            </span>
                            <p>
                                Inability to understand spoken English
                            </p>
                        </li>
                        <li class="problems__list-item">
                            <span class="problems__list-item-number">
                                — 03
                            </span>
                            <p>
                                Stingy vocabulary for writing an essay
                            </p>
                        </li>
                        <li class="problems__list-item">
                            <span class="problems__list-item-number">
                                — 04
                            </span>
                            <p>
                                Preparing alone
                            </p>
                        </li>
                        <li class="problems__list-item">
                            <span class="problems__list-item-number">
                                — 05
                            </span>
                            <p>
                                Lack of a single knowledge resource
                            </p>
                        </li>
                        <li class="problems__list-item">
                            <span class="problems__list-item-number">
                                — 06
                            </span>
                            <p>
                                Lack of self-organization and laziness
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
