<section class="program section" id="studying-program">
    <div class="program__container container">
        <h2 class="program__title section-heading">Our program</h2>
        <div class="program__wrapper">
            <ul class="program__list  list">
                <li class="program__item semester"><span class="semester__number">1</span> semester
                    <ul class="semester__list list">
                        <li class="semester__item">— Grammar
                            <ul class="semester__sublist list">
                                <li class="semester__subitem">Nouns & Articles</li>
                                <li class="semester__subitem">Adjectives & Adverb</li>
                            </ul>
                        </li>
                        <li class="semester__item">— Vocabulary
                            <ul class="semester__sublist list">
                                <li class="semester__subitem">Family & Relations</li>
                                <li class="semester__subitem">People & Society</li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="program__item semester"><span class="semester__number">2</span> semester
                    <ul class="semester__list list">
                        <li class="semester__item">— Grammar
                            <ul class="semester__sublist list">
                                <li class="semester__subitem">Pronouns</li>
                                <li class="semester__subitem">Active Voice</li>
                                <li class="semester__subitem">Passive Voice</li>
                            </ul>
                        </li>
                        <li class="semester__item">— Vocabulary
                            <ul class="semester__sublist list">
                                <li class="semester__subitem">Home</li>
                                <li class="semester__subitem">School</li>
                                <li class="semester__subitem">Work</li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="program__item semester"><span class="semester__number">3</span> semester
                    <ul class="semester__list list">
                        <li class="semester__item">— Grammar
                            <ul class="semester__sublist list">
                                <li class="semester__subitem">Modal verbs</li>
                                <li class="semester__subitem">Infinitive</li>
                                <li class="semester__subitem">Gerund</li>
                                <li class="semester__subitem">Participle: 1, 2</li>
                            </ul>
                        </li>
                        <li class="semester__item">— Vocabulary
                            <ul class="semester__sublist list">
                                <li class="semester__subitem">Travel & Tourism</li>
                                <li class="semester__subitem">Culture & Free Time</li>
                                <li class="semester__subitem">Sport</li>
                            </ul>
                        </li>
                        <li class="semester__item">— Writing
                            <ul class="semester__sublist list">
                                <li class="semester__subitem">Formal Letter</li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="program__item semester"><span class="semester__number">4</span> semester
                    <ul class="semester__list list">
                        <li class="semester__item">— Grammar
                            <ul class="semester__sublist list">
                                <li class="semester__subitem">Clauses: Conditional and Wishes</li>
                                <li class="semester__subitem">Direct / Reported speech</li>
                                <li class="semester__subitem">Preposition</li>
                                <li class="semester__subitem">Conjunction</li>
                                <li class="semester__subitem">Numeral</li>
                            </ul>
                        </li>
                        <li class="semester__item">— Vocabulary
                            <ul class="semester__sublist list">
                                <li class="semester__subitem">Healthy Living</li>
                                <li class="semester__subitem">Nature & Environment</li>
                                <li class="semester__subitem">Money</li>
                            </ul>
                        </li>
                        <li class="semester__item">— Writing
                            <ul class="semester__sublist list">
                                <li class="semester__subitem">Formal Letter</li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="program__item semester"><span class="semester__number">5</span> semester
                    <ul class="semester__list list">
                        <li class="semester__item">—
                            <ul class="semester__sublist list">
                                <li class="semester__subitem">Revision</li>
                                <li class="semester__subitem">Tests</li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</section>