<section class="reviews">
  <div class="reviews-container">
    <h2 class="head-reviews section-heading">Feedback from graduates</h2>
    <div class="slider slider-for slick-initialized slick-slider" id="r6">
      <div class="slider-pic">
        <picture class="slider-pic__photo">
          <source
            type="image/webp"
            srcset="./images/reviews/tonya.webp 1x, ./images/reviews/tonya@2x.webp 2x"
            media="(min-width: 768px)"
          />
          <source
            srcset="./images/reviews/tonya.jpg 1x, ./images/reviews/tonya@2x.jpg 2x"
            media="(min-width: 768px)"
          />
          <source
            type="image/webp"
            srcset="./images/reviews/480px-tonya.webp 1x, ./images/reviews/480px-tonya@2x.webp 2x"
            media="(max-width: 767px)"
          />
          <source
            srcset="./images/reviews/480px-tonya.jpg 1x, ./images/reviews/480px-tonya@2x.jpg 2x"
            media="(max-width: 767px)"
          />
          <img src="#" alt="first review's photo" />
        </picture>
      </div>
      <div class="slider-dscr__name">
        <p class="slider-dscr__current-name">Tonya Kucherovskaya</p>
        <article class="slider-dscr__current-info">
          <p class="slider-dscr__shortinfo">
            Graduated from 2015, National University of Bioresources and natural history of Ukraine
          </p>
          <p class="slider-dsrc__storytext">
            In a short time with Elena, I mastered grammar and replenished my completely empty
            vocabulary. From the first lesson I realized that I was on my plate. Elena and I became
            friends because she was really worried about my success. She became an authority for me,
            but I did not tremble in class, fearing to make the slightest mistake. Now I can brag
            that I'm student ...
            <a
              href=""
              class="slider-dscr__story_fulltextlink"
              target="_blank"
              rel="noopener noreferrer"
              >Read more</a
            >
          </p>
        </article>
      </div>
    </div>
    <div class="slider slider-nav slick-initialized slick-slider slick-dotted" role="toolbar">
      <ul class="slider-nav__list list">
        <li class="slider-nav__item">
          <a href="#r1">
            <picture>
              <source
                type="image/webp"
                srcset="./images/reviews/r1.webp 1x, ./images/reviews/r1@2x.webp 2x"
              />
              <source srcset="./images/reviews/r1.jpg 1x, ./images/reviews/r1@2x.jpg 2x" />
              <img src="#" alt="first review's photo" />
            </picture>
          </a>
        </li>
        <li class="slider-nav__item">
          <a href="#r2">
            <picture>
              <source
                type="image/webp"
                srcset="./images/reviews/r2.webp 1x, ./images/reviews/r2@2x.webp 2x"
              />
              <source srcset="./images/reviews/r2.jpg 1x, ./images/reviews/r2@2x.jpg 2x" />
              <img src="#" alt="second review's photo" />
            </picture>
          </a>
        </li>
        <li class="slider-nav__item">
          <a href="#r3">
            <picture>
              <source
                type="image/webp"
                srcset="./images/reviews/r3.webp 1x, ./images/reviews/r3@2x.webp 2x"
              />
              <source srcset="./images/reviews/r3.jpg 1x, ./images/reviews/r3@2x.jpg 2x" />
              <img src="#" alt="third review's photo" />
            </picture>
          </a>
        </li>
        <li class="slider-nav__item">
          <a href="#r4">
            <picture>
              <source
                type="image/webp"
                srcset="./images/reviews/r4.webp 1x, ./images/reviews/r4@2x.webp 2x"
              />
              <source srcset="./images/reviews/r4.jpg 1x, ./images/reviews/r4@2x.jpg 2x" />
              <img src="#" alt="fourth review's photo" />
            </picture>
          </a>
        </li>
        <li class="slider-nav__item">
          <a href="#r5">
            <picture>
              <source
                type="image/webp"
                srcset="./images/reviews/r5.webp 1x, ./images/reviews/r5@2x.webp 2x"
              />
              <source srcset="./images/reviews/r5.jpg 1x, ./images/reviews/r5@2x.jpg 2x" />
              <img src="#" alt="fifth review's photo" />
            </picture>
          </a>
        </li>
        <li class="slider-nav__item">
          <a href="#r6">
            <picture>
              <source
                type="image/webp"
                srcset="./images/reviews/r6.webp 1x, ./images/reviews/r6@2x.webp 2x"
              />
              <source srcset="./images/reviews/r6.jpg 1x, ./images/reviews/r6@2x.jpg 2x" />
              <img src="#" alt="sixth review's photo" />
            </picture>
          </a>
        </li>
        <li class="slider-nav__item">
          <a href="#r7">
            <picture>
              <source
                type="image/webp"
                srcset="./images/reviews/r7.webp 1x, ./images/reviews/r7@2x.webp 2x"
              />
              <source srcset="./images/reviews/r7.jpg 1x, ./images/reviews/r7@2x.jpg 2x" />
              <img src="#" alt="seventh review's photo" />
            </picture>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
