.guarantee {
  padding-top: 25px;
  padding-bottom: 25px;

  &__container {
    max-width: 480px;
    margin: 0 auto;
  }

  &__heading {
    margin-bottom: 30px;

    font-weight: 800;
    font-size: 26px;
    line-height: 1.3;
    text-align: center;
    letter-spacing: 0.03em;
  }

  &__wrapper {
    padding-top: 50px;
    padding-bottom: 51px;
    padding-left: 27px;
    padding-right: 20px;

    background-color: $we-guarantee-bg-color;
  }

  &__list {
    font-size: 12px;
    font-weight: 500;
    line-height: 1.67;
    color: $we-guarantee-color;
  }

  &__item {
    position: relative;
    padding-left: 28px;
  }

  &__item:not(:last-child) {
    min-height: 98px;
    padding-bottom: 23px;
    border-left: 1px dashed $grey-color;
  }

  &__item::before {
    content: '';
    position: absolute;
    top: -5px;
    left: -8px;
    width: 15px;
    height: 30px;
    background-image: url(../images/icons/fire-icon.svg);
    background-repeat: no-repeat;
    background-position-y: center;
    background-size: 15px 20px;
    background-color: #f1f1f1;
  }

  &__accent {
    color: $accent-color;
  }
}

@media screen and (min-width: 768px) {
  .guarantee {
    &__container {
      min-width: 768px;
    }

    &__wrapper {
      width: 688px;
      padding-top: 30px;
      padding-bottom: 30px;
      padding-left: 86px;
      padding-right: 50px;
      margin-left: auto;
      margin-right: auto;
    }

    &__item {
      padding-left: 32px;
    }

    &__item:not(:last-child) {
      min-height: 58px;
      padding-bottom: 20px;
    }
  }
}

@media screen and (min-width: 1366px) {
  .guarantee {
    padding-top: 65px;
    padding-bottom: 65px;

    &__container {
      min-width: 1366px;
    }

    &__heading {
      margin-bottom: 50px;
      font-size: 46px;
    }

    &__wrapper {
      width: 1314px;
      padding-top: 50px;
      padding-bottom: 45px;
      padding-left: 123px;
      padding-right: 112px;
    }

    &__list {
      font-size: 20px;
      line-height: 1.4;
    }

    &__item {
      padding-left: 41px;
    }

    &__item:not(:last-child) {
      min-height: 80px;
      padding-bottom: 20px;
    }

    &__item::before {
      left: -10px;
      width: 22px;
      height: 40px;

      background-size: 22px 30px;
    }
  }
}
