.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding-top: 30px;
}
.nav__container {
  display: none;
}
.btn {
  display: none;
  text-transform: uppercase;
}
.mobile-menu-btn {
  background-color: transparent;
  border: transparent;
  right: 20px;
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vw;
  overflow: auto;
  background-color: rgba(17, 21, 24, 0.9);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  &__container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100vw;
    margin: 0;
  }

  &__close-btn {
    position: absolute;
    background-color: transparent;
    right: 20px;
    top: 37px;
    line-height: 0;
    border: none;
    cursor: pointer;
  }

  &.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  &__link {
    color: $white-color;
  }
  &__link--accent:focus {
    color: $accent-color;
  }
  &__list {
    margin: 50px auto 50px auto;
    margin-left: 20px;
    color: $white-color;
    font-weight: 800;
    font-size: 20px;
    line-height: 1.8;
    letter-spacing: 0.03em;
  }
}

.logo__img-mob-menu {
  margin-top: 30px;
  margin-left: 20px;
}
.btn-consultation-mobile-menu {
  width: 260px;
  height: 48px;
  margin: 0 auto;
  color: $white-color;
  background-color: transparent;
  border: 1px solid $accent-color;
  font-family: Montserrat;
  text-transform: uppercase;
  font-weight: 700;
  font-style: normal;
  font-size: 12px;
  line-height: 1.21;
  letter-spacing: 0.08em;
}

@media screen and (min-width: 768px) {
  .btn {
    display: block;
  }
}
@media screen and (min-width: 1366px) {
  .header__container {
  }
  .logo__img {
    margin-right: 144px;
  }
  .nav__container {
    display: inline-flex;
  }
  .nav__list {
    display: flex;
    width: 648px;
    justify-content: space-between;
  }
  .nav__link {
    color: $grey-color;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.21;
  }
  .mobile-menu-btn {
    display: none;
  }
  .btn-consultation {
    margin-left: 60px;
  }
}
