.hero__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 52px 20px 0px 20px;
  margin-bottom: -50px;
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('../images/hero/wave-mobile.png');
}
.hero__left-container {
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  line-height: 1.57;
  letter-spacing: 0.08em;
  justify-content: start;
}
.section__heading {
  font-weight: 800;
  font-size: 20px;
  line-height: 1.3;
  letter-spacing: 0.03em;
}
.hero__description-text-top {
  margin-top: 8px;
  color: $grey-color;
}
.hero__description-text-bottom {
  margin-top: 8px;
  font-weight: 700;
}
.hero__quantity-points {
  display: block;
  margin-top: 8px;
  color: $accent-color;
}
.btn-container-free-lesson {
  margin-top: 52px;
}
.btn-free-lesson {
  display: block;
  min-width: 260px;
  margin: 52px auto 55px auto;
}
.hero__img {
  margin-bottom: 90px;
}

@media screen and (min-width: 768px) {
  .hero__container {
    padding: 83px 18px 64px 42px;
    margin-bottom: -45px;
    flex-direction: row;
    background-image: url('../images/hero/wave-tablet.png');
  }
  .hero__left-container {
    width: 332px;
  }
  .btn-free-lesson {
    margin-left: 0;
  }
  .section__heading {
    font-size: 26px;
    line-height: 1.26;
  }
  .hero__img {
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 1366px) {
  .hero__container {
    padding: 45px 53px 10px 183px;
    background-image: url('../images/hero/wave-desktop.png');
  }
  .hero__left-container {
    width: 642px;
  }
  .section__heading {
    font-weight: 800;
    font-size: 58px;
    line-height: 1.3;
    letter-spacing: 0.03em;
  }
}
