.program {
  position: relative;
  background-color: $main-color;
  padding-top: 50px;
  padding-bottom: 537px;

  &__container {
    max-width: 280px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
  }

  &__title {
    margin-bottom: 43px;
    text-align: center;
    color: $white-color;
  }

  &__wrapper {
    padding-left: 26.42%;
  }

  &__list {
    position: relative;
    padding-left: 26px;
  }

  &__item:not(:last-child) {
    margin-bottom: 40px;
  }
}

.semester {
  position: relative;
  font-weight: 700;
  font-size: 14px;
  line-height: 2;
  letter-spacing: $ls-main-text;
  text-transform: uppercase;

  color: $white-color;

  &__item {
    margin-top: 5px;

    font-size: 12px;
    line-height: 164.9%;
    text-transform: none;
    color: $accent-color;
  }

  &__sublist {
    margin-top: 5px;
  }

  &__subitem {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.66;
    color: $grey-color;
    opacity: 0.5;
  }
}

/* псевдоэлемент точка */

.program__item::before {
  content: '';
  position: absolute;
  display: inline-block;

  top: 8px;
  left: -32px;

  width: 12px;
  height: 12px;

  border-radius: 50%;
  background: $accent-color;
}

/* псевдоэлемент полоса */

.program__list::before {
  content: '';
  position: absolute;
  display: block;
  top: 10px;
  left: 0;

  height: calc(100% - 94px);
  border-left: 1px solid $white-color;
}

/* псевдоэлемент картинка */

.program__wrapper::after {
  content: '';
  position: absolute;

  right: 0;
  bottom: 440px;

  display: block;
  width: 120px;
  height: 137px;
  background-image: url(../images/program/lesson-mobile.png);
  background-size: cover;
  opacity: 0.5;
}
/* 2x screens, image */
@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .program__wrapper::after {
    background-image: url(../images/program/lesson-mobile@2x.png);
  }
}
